.headingSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headingSection > div {
    height: 1.5px;
    width: 35%;
    background-color: rgb(174, 167, 167);
    margin: 25px;
}

.headingSection > p {
    font-size: 2.5vmax;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: rgb(77, 77, 77);
}